@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: var(--font-outfit);
}

:root {
  --background: #f8fafc;
  --foreground: #0f172a;
}

:root.dark {
  --background: #0B0F19;
  --foreground: #f8fafc;
}

body {
  color: var(--foreground);
  background: var(--background);
}
